.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px); grid-gap: 30px;
}

#main {
  margin-left: 20vw; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 0px;
}
