#main {
  box-sizing: border-box;
  font-size: 25px; /* Increased text to enable scrolling */
  padding: 0px 0px 0px calc(15vw + 20px);
  top: 0;
  left: 0;
  position: absolute;
  max-width: 100vw;
  height: 100vh;
  background: linear-gradient(25deg, rgba(104,188,255,1) 37%, rgba(255,255,255,1) 110%);
  overflow-x: hidden;
  z-index: 0;
}
