body {
  font-family: "Lato", sans-serif;

}

.sidenav {
  height: 95vh;
  width: 15vw;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(255,255,255,0.5);
  border-radius: 1em;
  margin: 5px;
  overflow-x: hidden;
  padding-top: 20px;
  align-content: center;
}

.sidenav button {
  cursor: pointer;
  padding: 13px 10px 13px 15px;
  font-size: 25px;
  color: black;
  display: block;
  text-align: left;
  background-color: rgba(255, 255, 255, 0.2);
  width: 80%;
  margin: 0 auto;
  margin-bottom: 15px;
  border-radius: 0.5em;
  border: 1px solid rgba(100, 100, 100, 0.6);
  text-transform: lowercase;
}

button::first-letter{
  text-transform: capitalize;
}

#voltarMenu{
  font-weight: bolder;
  margin-bottom: 25px;
  border: 2px solid rgba(100, 100, 100, 0.6);
  background-color:rgba(255, 255, 255, 0.2) ;
  background-image: url('/_media/icons/menuButton.png');
  background-repeat:no-repeat;
  background-size: 20% 65%;
  background-position: 5% 50%;
  padding-left: 20%;
  font-size: 1.5em;
}

.sidenav button:hover, #voltarMenu:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}

.menuButton {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: auto;
  outline: inherit;
}
