.overlay {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  display: block;
  position: fixed;
  align-items: center;
  justify-content: center;
  z-index: 20;
  inset: 0px;
  background-color: rgba(0, 0, 0, 0.5);
}

.overlay-content {
  min-width: 200px;
  display: flex;
  border-radius: 6px;
  background-color: rgb(255, 255, 255);
  padding: 24px;
  justify-content: flex-end;
  height:35vh;
  width: 20vw;
}

.botaoFechaCadastro{
  padding: 10px;
  display:block;
  position:absolute;
  margin-top: -20px;
  margin-right: -20px;
  cursor: pointer;
  border: none;
  background:url('/_media/icons/closeButton.png') center no-repeat; background-size: 100% 100%;
  border-radius: 50%;
}

.botaoFechaCadastro:hover{
padding: 12px;
margin-top: -22px;
margin-right: -22px;
}

#botaoMostraCadastro{
  padding: 10px;
  display:block;
  position:absolute;
  height: 10px;
  width: 10px;
  cursor: pointer;
  border: none;
  background:url('/_media/icons/addButton.png') center no-repeat; background-size: 100% 100%;
  border-radius: 10px;
}

#loginform > p{
  display: flex;
  justify-content: space-between;
}
